PORT=8070
MONGO_URI=mongodb://127.0.0.1:27017/ulugbek_payent

PAYNET_LOGIN=xxx
PAYNET_PASSWORD=xx
PAYNET_SERVICE_IDS=xx
PAYNET_MLBB_SERVICE_ID=x
PAYNET_PUBG_SERVICE_ID=x

BOT_TOKEN=123456:telegram-bot-token
ADMIN_IDS=123456789,987654321
TG_GROUP_ID_MLBB=-xxxx
TG_GROUP_ID_PUBG=-xxxx

GW_API_KEY=gw_your_api_key
GW_API_BASE_URL=https://api.sonofutred.com
GW_API_TIMEOUT_MS=30000
